<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunmel.frame.sys.mapper.SysDictTypeMapper">

	<sql id="sysDictTypeColumns">
		id,code,create_by,create_date,del_flag,name,parent_id,parent_ids,
		remarks,update_by,update_date,sort,status
	</sql>
	<sql id="sysDictTypeAliasColumns">
		a.id,a.code,a.create_by,a.create_date,a.del_flag,a.name,a.parent_id,a.parent_ids,
		a.remarks,a.update_by,a.update_date,a.sort,a.status
	</sql>
	
	<!-- 修改父节点字符串 -->
	<update id="updateParentIds">
		update sys_area
		set parent_ids = REPLACE(parent_ids, #{oldParentIds}, #{parentIds}) 
		where parent_ids like CONCAT( '%,' , #{id} , ',%' )  
	</update>
	
	<!-- 根据节点Id删除底下全部子节点包括孙子节点 -->
	<update id="deleteDictTypeByRootId">
		update sys_dict_type set del_flag = 1 where FIND_IN_SET(#{id},parent_ids) or id = #{id}
	</update>
	
	<!-- 分页显示筛选查询 -->
	<select id="findPageInfo" resultType="com.yunmel.frame.sys.model.SysDictType">
		select <include refid="sysDictTypeAliasColumns"/>,a2.name pname,a2.id pid
		from sys_dict_type a
		left join sys_dict_type a2
		ON a.parent_id=a2.id
		<where>
			<if test="null != name and '' != name">
				a.name like concat( '%' , #{name} , '%' )
			</if>
			<if test="null != id and '' != id and id != 0 and null != name and '' != name"> 
				(FIND_IN_SET(#{id},a.parent_ids) or a.id = #{id})
			</if>
			and a.del_flag = 0
		</where>
		ORDER BY a.update_date desc
	</select>
	<!-- 分页显示筛选查询 -->
	<select id="findByParentCode" resultType="com.yunmel.frame.sys.model.SysDictType">
		select <include refid="sysDictTypeAliasColumns"/>
		FROM
			sys_dict_type a
		<where>
			a.del_flag = 0
			and a.parent_id = ( 
				SELECT p.id 
				FROM
					sys_dict_type p
				WHERE
					p. CODE = #{code}
				AND p.del_flag = 0
			)
		</where>
	</select>
	
	
	<!-- 更新 -->
	<update id="updateStatusByRootId">
		update sys_dict_type
		set status = #{status}
		where 
		 FIND_IN_SET(#{id},parent_ids) or id = #{id}
	</update>
	
	<select id="findSysDictTypeByCode" resultType="com.yunmel.frame.sys.model.SysDictType">
		SELECT * from sys_dict_type where code=#{code}
	</select>
	
</mapper>
